*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.App{
  background-color: #c48585;
}

.navFlex{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  padding-top: 40px;
  font-size: 16px;
  /* background-color: rgba(119, 119, 119, 0.308); */
}

.navFlex h1{
  color: #3F403F;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0 30px;
  cursor: pointer;
}

.navFlex h2{
  color: #c6d0c6;
  padding-left: 50px;
  font-weight: 100;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0 30px;
  cursor: pointer;
}

.contain{
  display: flex;
  width: 430px;
  margin-right: 115px;
  justify-content: space-between;
}

.home{
  color: aliceblue;
  font-weight: 100;
  letter-spacing: 1px;
  text-decoration: none;
}

.navFlex h1:hover , .home:hover{
  color: rgb(49, 87, 23);
  font-weight: 500;
  letter-spacing: 1px;
}

#dropdown-basic{
  width: 75px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 30px;
  outline: none;
}


.about-link{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 25px 0px;
}


#container{
  background-image: url(../src/components/img/bw.JPG);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-position-x: 50%;
  background-size: 596px;
  background-position: right;
  background-repeat: no-repeat;
  background-color: rgb(29, 27, 27);
  width: 100vw;
  height: 100vh;

}

#logo{
  width: 75px;
  height: 75px;
  display: inline-block;
  background-color: #fff;
  border-radius: 70% 0 70%;
  background-color: rgba(73, 73, 72, 0.774);
  text-align: center;
  padding-top: 12px;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  margin: 20px;
  box-shadow: 2px 5px 15px rgba(11, 11, 11, 0.726);
}

/* #navBar{
  position: absolute;
  right: 25px;
  padding-top: 25px;
  color: rgb(3, 42, 77);
  font-size: 35px;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
} */


.hello{
  /* text-align: center; */
  width: 100vw;
  padding-top: 120px;
  padding-left: 80px;
  color: #bfbfc7;
  font-size: 180px;
  font-weight: 600;
  letter-spacing: 35px;
  /* text-shadow: 2px 4px 11px rgba(97, 97, 97, 0.438); */
  /* clip-path: polygon(0 80%, 40% 0, 100% 70%, 60% 100%); */
}

.circle-one, .circle-2{
  position: absolute;
  top: 150px;
  left: 50%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: .1em solid rgba(160, 55, 55, 0.637);
}

.circle-2{
  width: 1000px;
  height: 1000px;
  left: 220px;
  top: -100px;
}

#container h5{
  color: #ffffff;
  font-size: 40px;
  padding-left: 100px;
}

#container h6{
  color: #c64436;
  font-size: 30px;
  padding-left: 20px;
  cursor: pointer;
}

#container h6:hover{
  color: #fc8c6a;
  font-weight: 600;
  font-size: 30px;
  padding-left: 20px;
  cursor: pointer;
}



#iAm{
  display: inline-block;
  width: 700px;
  display: flex;
  padding-left: 80px;
}

.slash{
  background-color:#a0452a;
  height: 12px;
  width: 1px;
  width: 12px;
  margin-left: 18px;
  margin-top: 20px;
  transform: rotate(25deg);
  border-radius:50%;
}

/* .circle{
  width: 130px;
  height: 130px;
  position: fixed;
  top: 610px;
  border-radius: 50%;
  margin-left: 8%;
  text-align: center;
  border: 8px solid rgb(22, 170, 207);
  cursor: pointer;
} */

/* .circle:hover{
  width: 130px;
  height: 130px;
  position: fixed;
  top: 560px;
  border-radius: 50%;
  margin-left: 85%;
  margin-bottom: 700px;
  text-align: center;
  border: 8px solid rgb(4, 145, 75);
} */

/* .fa-arrow-down{
  padding: 15% 10%;
  font-size: 80px;
  color: rgba(155, 132, 39, 0.507);
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:.8s ease-in-out;
}

.fa-arrow-down:hover{
  padding: 15% 10%;
  font-size: 80px;
  color: rgba(215, 177, 28, 0.748);
  transform: rotate(360deg);
} */

#container-two{
  width: 100vw;
  height: 95vh;
  background-color: rgb(26, 26, 26);
}


#container-two h1{
  text-align: center;
  /* margin-left: 40px; */
  padding: 60px 0;
  font-size: 60px;
  color: rgb(159, 40, 19);
  font-weight: 600;
  font-family: 'Noto Sans HK', sans-serif;
}


/* .portfolio-display{
  width: 100vw;
  height: 98vh;
  background-color: rgb(241, 233, 233);
  color: aliceblue;
} */

.show-work{
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
}

.project{
  background-color: rgb(224, 188, 188);
  width: 350px;
  height: 300px;
  margin: 20px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 20px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #7da9c7;
  color: white;
  transform: rotateY(180deg);
}

#project-title{
  color: red;
  font-size: 40px;
  font-weight: 500;
}

.hide {
  display: none;
  font-size: 50px;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}

/* lllhhhhshshshs   container 3     hshhshshshshshshs */
.container-3{
  height: 100vh;
  width: 100vw;
  background-color: linear-gradient(ellipse at top, red, blue);
  display: flex;
}


.skills{
  position: relative;
  padding-top: 40px;
  /* display: flex; */
 }

 .skill-1,  .skill-2,  .skill-3,  .skill-4,  .skill-5, .skill-6, .skill-7, .skill-8, .skill-9, .skill-10{
   width: 110px;
   height: 110px;
   border-radius: 50%;
   border: 6px solid rgb(24, 24, 24);
   margin-left: 50px;
   margin-top: 20px;
   box-shadow: 2px 3px 15px rgba(31, 31, 31, 0.849);
 }

 .skill-1:hover,  .skill-2:hover,  .skill-3:hover,  .skill-4:hover,  .skill-5:hover{
   width: 110px;
   height: 110px;
   border-radius: 50%;
   border: 13px solid rgb(255, 139, 139);
 }

.skill-1{
  background: url(../src/components/img/css.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.skill-2{
  background: url(../src/components/img/js.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-position-x: -12px;
  background-color: rgb(250, 226, 41);
}
.skill-3{
  background: url(../src/components/img/react.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 220%;
}
.skill-4{
  background: url(../src/components/img/pythong.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  background-color: rgb(28, 28, 28);
}
.skill-5{
  background: url(../src/components/img/django.png);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: rgb(16, 46, 12);
}

.skills-2{

}

.skill-6{
  background: url(../src/components/img/git.png);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: rgb(16, 46, 12);
}
.skill-7{
  background: url(../src/components/img/git.png);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: rgb(16, 46, 12);
}
.skill-8{
  background: url(../src/components/img/ps.png);
  background-size: 320%;
  background-repeat: no-repeat;
  background-position-x: -108px;
  background-position-y: -23px;
  background-color: rgb(16, 46, 12);
}
.skill-9{
  background: url(../src/components/img/xd.jpg);
  background-size: 180%;
  background-repeat: no-repeat;
  background-position-x: -40px;
  background-position-y: -35;
  background-color: rgb(16, 46, 12);
}
.skill-10{
  background: url(../src/components/img/fig.png);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: #2C2E34;
}



/* _----------------_ */

.connect-display{
  height: 98vh;
  background-color: rgb(31, 31, 31);
  padding: 40px;
}

.connect-display h1{
  color: rgb(223, 90, 67);
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 60px;
}

.form-input, form label{
  width: 500px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 20px;
}

.form-input{
  height: 38px;
  background-color: rgba(226, 209, 209, 0);
  outline: aliceblue;
  cursor: pointer;
  border-bottom: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
  margin-top: 18px;
  caret-color: aqua;
  border-radius: 4px;
}

form label{
  color: rgb(198, 198, 198);
  font-size: 22px;
}

.texting{
  height: 100px;
  border-radius: 9px;
  caret-color: rgb(0, 132, 255);
  cursor: progress;
  border: 1px solid grey;
}

.form-input::placeholder{
  color: #f00;
}

input[type=text], input[type=email], textarea[type=text]   {
  /* background-color: #1f1f1f; */
  color: rgb(253, 255, 225);
  font-size: 28px;
}


.submit{
  color: aliceblue;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 1px;
  width: 150;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: rgb(252, 86, 86);
  margin: 0 auto;
  margin-top: 20px;
}
